<div class="order">
    <div class="container order__container">
        <img src="./images/windows.jpg" alt="" class="order__picture">
        <div class="order__steps">
            <h2 class="order__title">Как сделать заказ?</h2>
            <ul class="order__list">
               <li class="order__item">
                   <img src="./images/order1.png" alt="" class="order__img">
                   <p class="order__description">
                       Выберите<br> параметры окна
                   </p>
               </li>
                <img src="./images/delimiter.png" alt="" class="order__delimiter">
                <img src="./images/vert_delimiter.png" alt="" class="order__delimiter2">
                <li class="order__item">
                    <img src="./images/order2.png" alt="" class="order__img">
                    <p class="order__description">
                        Выберите<br> способ доставки
                    </p>
                </li>
                <img src="./images/delimiter2.png" alt="" class="order__delimiter">
                <img src="./images/vert_delimiter2.png" alt="" class="order__delimiter2">
                <li class="order__item">
                    <img src="./images/order3.png" alt="" class="order__img">
                    <p class="order__description order__description_light">
                        Получите<br> свой заказ
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>