.services {

  &__item {
    display: flex;
    flex-direction: column;
    box-shadow: -4px 7px 18px rgba(0, 0, 0, 0.2), inset 0 4px 0 #43aa26;
    background-color: #ffffff;
    padding: 25px 30px 50px;
    overflow: hidden;

    &-title {
      padding-top: 4px;
      padding-bottom: 17px;
      color: #2f3131;
      font-family: 'Cuprum', sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
    }

    &-description {
      color: #2f3131;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .slick-dots {
    bottom: 18px;
    left: 41%;

    li {
      margin: 0 1px;

      button {
        &:before {
          width: 12px;
          height: 12px;
          background-color: #43aa26;
          border: 2px solid #fff;
          border-radius: 50%;
          opacity: 1;
          color: transparent;
        }
      }

      &:hover,
      &.slick-active {
        button {
          &:before {
            width: 12px;
            height: 12px;
            border: 2px solid #43aa26;
            background-color: #fff;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
    opacity: 0;
  }

  .slick-next {
    width: 37px;
    height: 37px;
    right: -18px;
    top: 46%;
    background-image: url("./../images/vert_delimiter2.png");
    z-index: 5;

    &:hover {
      background-image: url("./../images/vert_delimiter.png");
    }
  }

  .slick-prev {
    width: 37px;
    height: 37px;
    left: -18px;
    top: 38%;
    transform: rotate(-180deg);
    background-image: url("./../images/vert_delimiter2.png");
    z-index: 5;

    &:hover {
      transform: rotate(-180deg);
      background-image: url("./../images/vert_delimiter.png");
    }

  }

}