<div class="services">
    <div class="services__item">
        <div class="services__item-title">Установка и доставка окон от производителя</div>
        <div class="services__item-description">Равным образом укрепление и развитие структуры играет важную роль в
            формировании дальнейших направлений развития. Богатый опыт консультация с широким активом
        </div>
    </div>
    <div class="services__item">
        <div class="services__item-title">Качественная транспортировка</div>
        <div class="services__item-description">Равным образом укрепление и развитие структуры играет важную роль в
            формировании дальнейших направлений развития. Богатый опыт консультация с широким активом
        </div>
    </div>
    <div class="services__item">
        <div class="services__item-title">Упаковка каждого окна в упаковку</div>
        <div class="services__item-description">Равным образом укрепление и развитие структуры играет важную роль в
            формировании дальнейших направлений развития. Богатый опыт консультация с широким активом
        </div>
    </div>
    <div class="services__item">
        <div class="services__item-title">Безопасный подъем в квартиру</div>
        <div class="services__item-description">Равным образом укрепление и развитие структуры играет важную роль в
            формировании дальнейших направлений развития. Богатый опыт консультация с широким активом
        </div>
    </div>
</div>