<section class="main-banner">
    {{> main-header }}
        <div class="container main-banner__container">
            <div class="main-banner__services">
                {{> services }}
            </div>
        </div>
</section>

