.main-banner {
  background: url("./../images/bg_main-banner.jpg") top center / cover no-repeat;
  //min-height: 100vh;
  min-height: 634px;

  &__container {
    display: flex;
    justify-content: flex-end;


    @media(max-width: 992px) {
      justify-content: center;
      align-items: center;
    }
  }

  &__services {
    margin-top: 127px;
    width: 100%;
    max-width: 451px;
    min-height: 164px;

    @media(max-width: 1240px) {
      padding-right: 15px;
      padding-left: 15px;
    }

    @media(max-width: 576px) {
      width: 95%;
    }

  }

}

