<div class="video">
    <div class="container video__cintainer">
        <h2 class="video__title">Видео</h2>
        <div class="video__list">
            <div class="video__item">
                <div class="video__item-clip">
                    <iframe width="370" height="240" src="https://www.youtube.com/embed/Er3b04ykexg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <img src="" alt="" class="video__item-thumbler">
                <div class="video__item-title">
                    Таким образом реализация намеченных плановых заданий
                </div>
                <div class="video__item-description">
                    Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                </div>
            </div>
            <div class="video__item">
                <div class="video__item-clip">
                    <iframe width="370" height="240" src="https://www.youtube.com/embed/pINxK7hUkJU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <img src="" alt="" class="video__item-thumbler">
                <div class="video__item-title">
                    Таким образом реализация намеченных плановых заданий
                </div>
                <div class="video__item-description">
                    Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                </div>
            </div>
            <div class="video__item">
                <div class="video__item-clip">
                    <iframe width="370" height="240" src="https://www.youtube.com/embed/rH_G02lB4nI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <img src="" alt="" class="video__item-thumbler">
                <div class="video__item-title">
                    Таким образом реализация намеченных плановых заданий
                </div>
                <div class="video__item-description">
                    Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                </div>
            </div>
            <!--<div class="video__item">-->
                <!--<div class="video__item-clip">-->
                    <!--<iframe width="370" height="240" src="https://www.youtube.com/embed/uw-gecBFMdw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                <!--</div>-->
                <!--<img src="" alt="" class="video__item-thumbler">-->
                <!--<div class="video__item-title">-->
                    <!--Таким образом реализация намеченных плановых заданий-->
                <!--</div>-->
                <!--<div class="video__item-description">-->
                    <!--Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>