<div class="video">
    <h2 class="video__title">Видео</h2>
    <div class="container video__container">
        <div class="video__list">
            <div class="video__item">
                <div class="video__item-clip">
                    <img src="./images/video1.jpg" alt="">
                    <div class="video__item-thumbler"></div>
                </div>
                <div class="video__item-content">
                    <div class="video__item-title">
                        Таким образом реализация намеченных плановых заданий
                    </div>
                    <div class="video__item-description">
                        Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                    </div>
                </div>
            </div>
            <div class="video__item">
                <div class="video__item-clip">
                    <img src="./images/video3.jpg" alt="">
                    <div class="video__item-thumbler"></div>
                </div>
                <div class="video__item-content">
                    <div class="video__item-title">
                        Таким образом реализация намеченных плановых заданий
                    </div>
                    <div class="video__item-description">
                        Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                    </div>
                </div>
            </div>
            <div class="video__item">
                <div class="video__item-clip">
                    <img src="./images/video2.jpg" alt="">
                    <div class="video__item-thumbler"></div>
                </div>
                <div class="video__item-content">
                    <div class="video__item-title">
                        Таким образом реализация намеченных плановых заданий
                    </div>
                    <div class="video__item-description">
                        Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                    </div>
                </div>
            </div>
            <div class="video__item">
                <div class="video__item-clip">
                    <img src="./images/video3.jpg" alt="">
                    <div class="video__item-thumbler"></div>
                </div>
                <div class="video__item-content">
                    <div class="video__item-title">
                        Таким образом реализация намеченных плановых заданий
                    </div>
                    <div class="video__item-description">
                        Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                    </div>
                </div>
            </div>
            <div class="video__item">
                <div class="video__item-clip">
                    <img src="./images/video1.jpg" alt="">
                    <div class="video__item-thumbler"></div>
                </div>
                <div class="video__item-content">
                    <div class="video__item-title">
                        Таким образом реализация намеченных плановых заданий
                    </div>
                    <div class="video__item-description">
                        Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                    </div>
                </div>
            </div>
            <div class="video__item">
                <div class="video__item-clip">
                    <img src="./images/video1.jpg" alt="">
                    <div class="video__item-thumbler"></div>
                </div>
                <div class="video__item-content">
                    <div class="video__item-title">
                        Таким образом реализация намеченных плановых заданий
                    </div>
                    <div class="video__item-description">
                        Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                    </div>
                </div>
            </div>
            <div class="video__item">
                <div class="video__item-clip">
                    <img src="./images/video3.jpg" alt="">
                    <div class="video__item-thumbler"></div>
                </div>
                <div class="video__item-content">
                    <div class="video__item-title">
                        Таким образом реализация намеченных плановых заданий
                    </div>
                    <div class="video__item-description">
                        Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                    </div>
                </div>
            </div>
            <div class="video__item">
                <div class="video__item-clip">
                    <img src="./images/video2.jpg" alt="">
                    <div class="video__item-thumbler"></div>
                </div>
                <div class="video__item-content">
                    <div class="video__item-title">
                        Таким образом реализация намеченных плановых заданий
                    </div>
                    <div class="video__item-description">
                        Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                    </div>
                </div>
            </div>
            <div class="video__item">
                <div class="video__item-clip">
                    <img src="./images/video3.jpg" alt="">
                    <div class="video__item-thumbler"></div>
                </div>
                <div class="video__item-content">
                    <div class="video__item-title">
                        Таким образом реализация намеченных плановых заданий
                    </div>
                    <div class="video__item-description">
                        Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                    </div>
                </div>
            </div>
            <div class="video__item">
                <div class="video__item-clip">
                    <img src="./images/video1.jpg" alt="">
                    <div class="video__item-thumbler"></div>
                </div>
                <div class="video__item-content">
                    <div class="video__item-title">
                        Таким образом реализация намеченных плановых заданий
                    </div>
                    <div class="video__item-description">
                        Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                    </div>
                </div>
            </div>
            <div class="video__item">
                <div class="video__item-clip">
                    <img src="./images/video1.jpg" alt="">
                    <div class="video__item-thumbler"></div>
                </div>
                <div class="video__item-content">
                    <div class="video__item-title">
                        Таким образом реализация намеченных плановых заданий
                    </div>
                    <div class="video__item-description">
                        Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                    </div>
                </div>
            </div>
            <div class="video__item">
                <div class="video__item-clip">
                    <img src="./images/video3.jpg" alt="">
                    <div class="video__item-thumbler"></div>
                </div>
                <div class="video__item-content">
                    <div class="video__item-title">
                        Таким образом реализация намеченных плановых заданий
                    </div>
                    <div class="video__item-description">
                        Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                    </div>
                </div>
            </div>
            <div class="video__item">
                <div class="video__item-clip">
                    <img src="./images/video2.jpg" alt="">
                    <div class="video__item-thumbler"></div>
                </div>
                <div class="video__item-content">
                    <div class="video__item-title">
                        Таким образом реализация намеченных плановых заданий
                    </div>
                    <div class="video__item-description">
                        Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                    </div>
                </div>
            </div>
            <div class="video__item">
                <div class="video__item-clip">
                    <img src="./images/video3.jpg" alt="">
                    <div class="video__item-thumbler"></div>
                </div>
                <div class="video__item-content">
                    <div class="video__item-title">
                        Таким образом реализация намеченных плановых заданий
                    </div>
                    <div class="video__item-description">
                        Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                    </div>
                </div>
            </div>
            <div class="video__item">
                <div class="video__item-clip">
                    <img src="./images/video1.jpg" alt="">
                    <div class="video__item-thumbler"></div>
                </div>
                <div class="video__item-content">
                    <div class="video__item-title">
                        Таким образом реализация намеченных плановых заданий
                    </div>
                    <div class="video__item-description">
                        Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                    </div>
                </div>
            </div>
        </div>
        <div class="video__slider">
            <input type="range" min="1" max="15" step="1" id="video-range" name="example_name" value="1" />
        </div>
    </div>
</div>