<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="#" class="nav__link">Главная</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Продукция</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Наши услуги</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Кредит</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Акции</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Новости</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Доставка</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link nav__link_higjlighted">Оплата</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Контакты</a>
        </li>
        <li class="nav__item nav__item_search">
            <img src="./images/search-icon.png" alt="">
        </li>
    </ul>

</nav>

